:root{
    --primary-color: #212121;
    --title-color:#fff;
    --accent-color:#2196F3;
    --primary-bg-color:#fff;
}
body{
    background-color:var(--primary-bg-color);
    color: #757575 ;
    font-family:Roboto, sans-serif
}
ul{
    list-style: none;
}
.site-nav-list  .logo{
    color: var(--primary-color);
    font-family: Raleway,sans-serif;
}
.site-nav .logo{
    color:var(--primary-color);
}
.site-nav-list:hover,
.site-nav-list:focus{
    color:var(--accent-color)
}
.site-nav-list .link.current{
    color: var(--accent-color);
}
.site-nav-list .site-address{
    color:var(--primary-color)
}
.site-nav-list .site-address :hover{
    color: var(--primary-color)
}
.section-title{
    color:var(--primary-color)
}
.section-hero {
    color:var(--title-color);
    background-color: #2F303A;
}
.section-hero-button :hover
.section-hero-button :focus
.section-hero-button{
    color: var(--title-color);
    background-color: var(--accent-color);
    font-family:Roboto,inherit;
}
.feature-list .title {
    color: var(--primary-color);
}
.title{
    color: var(--primary-color);
}
.title-team{
    color: var(--primary-color);
    background-color: #F5F4FA;
}
.title-name{
    color: var(--primary-color);
    background-color:var(--primary-bg-color);
}
.primery-buttom{
    color: var(--title-color);
    background: #2196F3;
}
.secondary-butoom:hover{
    color:var(--title-color);
    background:#2196F3 ;
}
.secondary-butoom{
    color: var(--primary-color);
    background:var(--title-color)
}