html {
    box-sizing: border-box;
}

*,
*::before *::after {
    box-sizing: inherit;
}

:root {
    --primary-color: #212121;
    --title-color: #fff;
    --accent-color: #2196F3;
    --primary-bg-color: #fff;
    --secondary-bg: #F5F4FA;
    --primery-sec: #757575;
    --soccial-icon: #AFB1B8;
    --bg: #2F303A;
    --object-color: #188CE8;
    --border:#EEEEEE;
    --footer: rgba(255, 255, 255, 0.6);
}


body {
    background-color: var(--primary-bg-color);
    color: var(--primery-sec);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
h1
h2
h3
h4
h5
p
ul{
    padding: 0px;
    margin: 0px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.nav-link {
    color: var(--primary-color);
}
image{
    display: block;
    max-width: 100%;
}
img{
    display: block;
    max-width: 100%;
}
header{
    border-bottom: 1px solid var(--border)
}

.logo {
    margin-top:0px;
    margin-bottom:0 px;
    margin-right: 93px;
    display: flex;
    color: var(--primary-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding: 24px 0px;
}
.logo-footer {
    color: var(--primary-bg-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-footer span {
    color: var(--accent-color);
}

.site-nav .logo {
    color: var(--primary-color);
}

.logo span {
    color: var(--accent-color);
}

.page-header :hover {
    color: var(--accent-color);
}

.nav-link.current {
    color: var(--accent-color);
}

.nav-link{
    display: flex;
    color:var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 32px 0px;
}
.page-header{
    display: flex;
    height: 80px;
    align-self:center
}
.page-header .site-adress {
    display: flex;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    align-content: center;
}
.header-icon{
    display: flex;
    fill: var(--primery-sec);
    align-items: center;
    margin-right: 10px;
}
.site-adress:hover {
    fill:var(--accent-color) ;
}
.site-adress li:not(:first-child) {
    margin-left: 50px
}
.header-nav li:not( :last-child) {
    margin-right:50px
}
.header-nav {
    display: flex;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.header-nav.nav-link:not(:last-child){
    margin-right: 50px;
}
.img-work{
    display: flex;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.img-work li{
    margin-right: 30px;
    padding: 0px;
}
.soc-list {
    display: flex;
    gap: 10px;
    margin-top: 16px;
}
.soc-itm{
    height: 44px;
    width: 44px;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
     margin-top: 16px;
}
.soc-itm:hover{
    background-color: var(--accent-color);
}
.soc-itm:hover .social-img{
    fill: var(--primary-bg-color);
}
.soc-itm:focus{
    background-color: var(--accent-color);
}
.soc-itm:focus .social-img{
    fill: var(--primary-bg-color);
}
.social-img{
    fill: var(--soccial-icon)
}

.nav-link:hover {
    color: var(--accent-color);
}

.nav-link:focus {
    color: var(--accent-color);
}

.site-link{
    display: flex;
    padding: 32px 0px;
    color: var(--primery-sec);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.site-adress:hover .header-icon{
    color: var(--accent-color);
    fill: var(--accent-color);
}
.site-link:focus .header-icon{
    color: var(--accent-color);
    fill: var(--accent-color);
}

.site-link:focus {
    color: var(--accent-color);
}
.footer-contact {
    color: var(--footer);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
}

.footer-contact:hover {
    color: var(--accent-color);
}

.footer-contact:focus {
    color: var(--accent-color);
}

.site-nav-list .site-address :hover {
    color: var(--primary-color)
}

.section-title {
    color: var(--primary-color)
}

.section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--bg);
    text-align: center;
}
.hero-title {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 700px;
    color: var(--title-color);
    background-color: var(--bg);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    justify-content:center;
    background: none;
}

.section-hero{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Img-hed.jpg');
}

.section-hero-button {
    height: 50px;
    width: 216px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
}
.section-hero-button {
    cursor: pointer;
}

.section-hero-button:hover {
    background-color: var(--object-color)
}

.section-hero-button:focus {
    background-color: var(--accent-color)
}
.description{
    padding-top: 94px;
    padding-bottom: 94px;
}
.description  .skils{
    display: flex;
    padding: 0px;
    gap: 30px;
}
.hide-text{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.skils-itm{
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
    margin-bottom: 30px;
}

.skill-icon {
    height: 70px;
    width: 70px;
    border-radius:4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description.skils-itm:not(:last-child){
    margin-right: 30px;
}
.title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.feature-work {
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}
.feature-work li:nth-child(3n){
    margin-right: 0px;
}
.title-team{
    padding-top: 94px;
    padding-bottom: 94px;
}
.title-team ul{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.title-feature {
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}
.time-llist{
    display: flex;
}
.clients{
    padding-top: 94px;
    padding-bottom: 98px;
}
.clients-list{
    width: calc((100% - 170 px) / 6);
    display: flex;
    gap: 30px;
}
.clients-link {
    border: 1px solid var(--soccial-icon);
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
}
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-img {
    height: 60px;
    width: 106px;
    fill: var(--soccial-icon);
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients-link:hover{
    border: 1px solid var(--accent-color);;
}
.clients-link:hover .clients-img{
    fill:var(--accent-color);
}
.clients-link:focus{
    border-color:  1px solid var(--accent-color);
}
.clients-link:focus .clients-img{
    fill:var(--accent-color);
}
.acquaintance{
    margin-right: 30px;
    padding: 0px;
    margin-bottom: 0px;
    width: 270px;
    background-color: var(--primary-bg-color);
}
.acquaintance:last-child{
    margin: 0px;
    padding: 0px;
}
.title-team { 
    color: var(--primary-color);
    background-color: var(--secondary-bg);
}
.title-team .team-description{
    padding: 30px;
    text-align: center;
}
.title-name {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.title-work {
    margin-top: 10px;
    margin-bottom: 0px;
    color: var(--primery-sec);
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}
.part{
    padding-top: 94px;
    padding-bottom: 94px;
}
.hide-text{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.btn{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn-itm{
    margin-right: 8px;

}
.btn-itm:last-child{
    margin-right: 0px;
}
.primery-buttom {
    padding: 6px 22px;
    color: var(--title-color);
    background-color: var(--accent-color);
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
}

.primery-buttom {
    cursor: pointer;
    box-shadow: 0px 2px 0px 0px var(--primery-sec);
}
.secondary-buttom:hover {
    color: var(--title-color);
    background-color: var(--accent-color);
    box-shadow: 4px;
    box-shadow: 0px 2px 0px 0px var(--primery-sec);
}
.secondary-buttom:focus {
    color: var(--title-color);
    background-color: var(--accent-color);
    box-shadow: 4px;
    box-shadow: 0px 2px 0px 0px var(--primery-sec);
}

.secondary-buttom {
    padding: 6px 22px;
    color: var(--primary-color);
    background: var(--secondary-bg);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
}
.feature-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: -30px;
    margin-right: -30px;
}
.title-web{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.presentation-work{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-bottom: 94px;
}
.presentation-work li:nth-child(3n){
    margin-right: 0px;
}
.secondary-buttom {
    cursor: pointer;
}

.feature-skill {
    margin-top: 0px;
    margin-bottom: 4px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.our-teg {
    margin: 0px;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.feature-tegline{
    text-decoration: none;
    color: var(--primery-sec);
 
}
.feature-tegline:focus{
    box-shadow: 8px 16px 0px -2px rgba(0,0,0,0.75);
}
.feature-tegline:hover{
    box-shadow: 8px 16px 0px -2px rgba(0,0,0,0.75);
}
.teg-name{
    border-bottom: 1px solid  var(--border);
    border-left: 1px solid  var(--border);
    border-right: 1px solid  var(--border);
    padding: 20px 24px;
    text-decoration: none;
}

.site-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    color: var(--title-color);
    background-color: var(--bg);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address {
    margin-top: 20px;
    color: var(--title-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
}
.address-footer{
    margin-top: 20px;
}
.footer-nav{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.site-footer li:not(:last-child){
    margin-bottom: 0px;
}
.footer-social{
    display: flex;
    height: 80px;
    width: 206px;
    align-items: center;
    margin-left: 70px;
    gap: 10px;
    list-style-type: none;
    list-style: none;
}
.soc-we{
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
    list-style: none;
    margin-top: 20px;
}
.footer-itm{
    height: 44px;
    width: 44px;
    fill: var(--primary-bg-color);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.footer-zone{
    display: flex;
    align-items: baseline;
}
.footer-text{
    margin: 0px;
    height: 16px;
    width: 116px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.footer-itm:hover{
    background-color: var(--accent-color);
}
.footer-itm .footer-itm{
    fill: var(--primary-bg-color);
}
.footer-itm:focus{
    background-color: var(--accent-color);
}
.footer-itm .footer-itm{
    fill: var(--primary-bg-color)}