.presentation{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-bottom: 94px;
    @media (max-width: 480px) {
        display:none;
    }
&__group:nth-child(3n){
    margin-right: 0px;
}
&__work{
    position: relative;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px;
    color:$primary-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}
&__text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 370px;
    height: 70px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-bg-color;
    background-color: rgba(47, 48, 58, 0.8);
    transform: translateY(-100%);
}
&__description{
    margin: 0;
}
&__work li:nth-child(3n){
    margin-right: 0px;
}
&__img{
    display: flex;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
&__img li{
    margin-right: 30px;
    padding: 0px;
}
}