.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    color:$title-color;
    background-color:$bg;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
    &__logo {
        color: $primary-bg-color;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-decoration: none;
    }
    &__logo span {
        color:$accent-color;
    }
    &__geolocation {
        margin-top: 20px;
        color:$title-color;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        font-style: normal;
        text-decoration: none;
    }
    &__address{
        margin-top: 20px;
    }
    &__nav{
        display: flex;
        flex-direction: column;
        gap: 9px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__social{
        display: flex;
        height: 80px;
        width: 206px;
        align-items: center;
        margin-left: 70px;
        gap: 10px;
        list-style-type: none;
        list-style: none;
    }
    &__contact {
        color:$footer;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;
        font-style: normal;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__contact:hover,
    &__contact:focus{
        color: $accent-color;}
    
    &__soc{
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style-type: none;
        list-style: none;
        margin-top: 20px;
    }
    &__itm{
        height: 44px;
        width: 44px;
        fill:$primary-bg-color;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition-property: background-color,fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__itm:hover,
    &__itm:focus{
        fill:$primary-bg-color;
    }
    &__itm:hover,
    &__itm:focus{
        background-color:$accent-color;
    }
    &__zone{
        display: flex;
        align-items: baseline;
    }
    &__text{
        margin: 0px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    &__sub{
        margin-left: 93px;
    }
    &__text__subscription{
        margin-top: 0px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
    }
    &__control{
        position: relative;
        display: flex;
        gap: 12px;
    }
    &__subscription{
        width: 358px;
        margin: 0;
        height: 50px;
        padding-left: 16px;
        color: $title-color;
        background-color:$bg;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    }
    &__subscription__button{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border: none;
        font-family: 'Roboto', sans-serif;
        color:$title-color;
        background-color:$accent-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    }