.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--bg);
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Img-hed.jpg');

&__title {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 700px;
    color: $title-color;
    background-color:$bg;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    justify-content:center;
    background: none;
}
&__button{
    height: 50px;
    width: 216px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: $title-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
&__button:hover {
    background-color:$object-color;
}
&__button:focus {
    background-color: $accent-color;
}
}