.mobile-menu{
    position: fixed;
    justify-content: space-between;
    margin: 0;
    width: 480px;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:$primary-bg-color;
    padding: 48px 40px;
    z-index: 1;
    cursor: pointer;

    &.is-open{
        display: block;
    }
    &__close-button{
        background-color:$primary-bg-color;
        cursor: pointer;
        position: absolute;
        top: 22px;
        right: 22px;
        padding: 0;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition-property: color, border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }
    &__nav{
        list-style: none;
        padding-bottom: 302px;
    }
    &__link{
        display: flex;
        position: relative;
        color:$primary-color;
        text-align: left;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;
        padding-bottom: 32px;
        cursor: pointer;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover {
        color: $accent-color;
        transition: background-color 250ms color 250ms, box-shadow 250ms ;
    }
    &__link:focus {
        color: $accent-color;
        transition: background-color 250ms color 250ms, box-shadow 250ms ;
    }
    &____address{
        padding-bottom: 64px;
    }
    &__address-nomer{
        color: $accent-color;
        display: flex;
        justify-content: left;
        align-items: left;
        font-size: 34px;
        font-weight: 500;
        padding-bottom: 32px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__address-nomer:hover,
    &__address-nomer:focus{
        color: $accent-color;}

    &__address-link{
        color: $primery-sec;
        display: flex;
        justify-content: left;
        align-items: left;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 32px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__address-link:hover,
    &__address-link:focus{
        color: $accent-color;}

    &__social-groups{
        padding-top: 64px;
    }
    &__social-link{
        margin: 20px;
        color: $accent-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}
