.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color:  rgba(0, 0, 0, 0.2);;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    min-width: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    background-color: $title-color;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
  
    @media screen and(max-width:1199px) {
      width: 450px;
      height: 609px;
    }
  
    @media screen and(min-width:1200px) {
      position: absolute;
      width: 528px;
      height: 581px;
      margin-left: 0px;
      margin-top: 0px;
    }
  
    &__subtitle {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.03em;
      color: $primary-color;
    }
  
    &__close-button {
      position: absolute;
      top: 8px;
      right: 8px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      fill: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $title-color;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }
  
    &__close-button:hover,
    &__close-button:focus {
      fill: $accent-color;
    }
  
    &__label {
      margin-bottom: 4px;
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      color: $primery-sec;
    }
  
    &__control {
      position: relative;
      margin-bottom: 10px;
    }
  
    &__input {
      width: 100%;
      padding-left: 42px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 15px;
      line-height: 1.125;
      color: $primery-sec;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline: none;
    }
  
    &__input:focus {
      border-color: $accent-color;
    }
  
    &__icon {
      position: absolute;
      left: 0;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    &__textarea {
      width: 100%;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding: 12px 16px;
      height: 120px;
      margin-bottom: 20px;
      color: $primery-sec;
      outline: none;
      resize: none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    &__textarea:focus {
      border-color: $accent-color;
    }
  
    &__submit-button {
      background-color: $accent-color;
      color: $title-color;
      font-weight: 700;
      font-size: 16px;
      font-family: inherit;
      line-height: 1.9;
      letter-spacing: 0.06em;
      cursor: pointer;
      width: 200px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 52px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border: transparent;
      border-radius: 4px;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &__submit-button:hover,
    &__submit-button:focus {
      color: $title-color;
      background-color: $object-color;
    }
  }
  
  .modal__input:focus + .modal__icon {
    fill: $accent-color;
  }
  