.team { 
    padding-top: 94px;
    padding-bottom: 94px;
    color: $primary-color;
    background-color: $secondary-bg;
    
    &__description{
        padding: 30px;
        text-align: center;
    }
    &__name {
        margin-top: 0px;
        margin-bottom: 0px;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1;
        letter-spacing: 0.03em;
    }
    &__position {
        margin-top: 10px;
        margin-bottom: 0px;
        color: $primery-sec;
        font-size: 16px;
        line-height: 1.1;
        letter-spacing: 0.03em;
    }
    &__title {
        margin-top: 0px;
        margin-bottom: 50px;
        color: var(--primary-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
    }
    &__list{
        display: flex;
    }
    &__acquaintance{
        margin-right: 30px;
        padding: 0px;
        margin-bottom: 0px;
        width: 270px;
        background-color: $primary-bg-color;
    }
    &__acquaintance:last-child{
        margin: 0px;
        padding: 0px;
    }
    
    &__social{
        display: flex;
        gap: 10px;
        margin-top: 16px;
        padding: 0px;
        margin-bottom: 0px;}

    &__social-itm{
        height: 44px;
        width: 44px;
        background-color:$primary-bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition-property: background-color,;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__social-itm{
        &:hover,
        &:focus{
            background-color: $accent-color;
        }
        &:focus,
        &:hover{
            .team__social-img{
                fill: $primary-bg-color;}
        }
    }
    &__social-img{
        fill: $soccial-icon;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    }
